---
layout: default
---
<article class="post">

    <header class="post-header">
      <p class="post-meta">
        <!-- date 1 -->
        {% if page.date1 %}
          <h2>{{ page.date1 | date: "%d.%m.%y"}}</h2>
        {% endif %}
        <!-- artist 1 -->
        {% if page.artist1 %}
          <h2>{{ page.artist1 }}</h2>
        {% endif %}
        <!-- date 2 -->
        {% if page.date2 %}
          <h2>{{ page.date2 | date: "%d.%m.%y"}}</h2>
        {% endif %}
        <!-- artist 1 -->
        {% if page.artist2 %}
          <h2>{{ page.artist2 }}</h2>
        {% endif %}
        <!-- title -->
        <h2>{{ page.title | escape }}</h2>

      </p>
    </header>
    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>

</article>
